img{
    width: 100%;
    height: 100%;
}

.c 
{
text-align: center;
}

.hh 
{
    color: rgb(230, 131, 26);
    align-items: center; 
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 50px;  
}

.head 
{
    color: rgb(29, 173, 173);
    font-family: "Anton", sans-serif;

}
 
.about 
{   
    padding: 50px;
}

.invite 
{
    font-family: "Anton", sans-serif;
    padding: 100px;
    color: rgb(44, 42, 42);
}

.head1 
{
    font-family: "Anton", sans-serif;

}

.padd 
{
    padding: 50px;
}

.footer 
{   
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
}

.link 
{
    text-decoration: none;
}